@import "../../../styles/variables";
.footer-container {

// .progress-bar {
//   position: absolute;
//   top: 0;
//   background-color: red;
// }
footer {
    // z-index: 2;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    align-items: center;

    .author-container {
      margin: 1rem;
      margin-left: 2rem;
      display: flex;
      flex-direction: column;
    }

    .buttons-container{
      margin-right: 2rem;

      button:first-child {
        margin-right: 30px;
      }

      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }
}


@media screen and (max-width: $tablet-brkPoint) {
  .footer-container {

    position: absolute;
    width: 100%;
    z-index: 2;
    footer {
      // z-index: 2;
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: fit-content;
      align-items: center;

      .author-container {
        margin: 1rem;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
      }

      .buttons-container{
        margin-right: 2rem;

        button:first-child {
          margin-right: 30px;
        }

        button {
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }
}



@media screen and (max-width: $mobile-brkPoint) {

}
