
<section *ngFor="let artwork of currentMasterpiece async">
  <div class="card-container">
    <div class="card-hero">
      <img
        data-aos="fade-up"
        [src]="artwork.images.hero.large"
        alt=":("
      />
      <div (click)="viewFullImg()">
        <img src="../../../assets/expand.svg" alt="" />
        <span>VIEW IMAGE</span>
      </div>
    </div>
    <div class="card-body">
      <div class="card-info">
        <span id="date">{{artwork.year}}</span>
        <P>
          {{artwork.description}}
        </P>
        <a [href]="artwork.source">GO TO SOURCE</a>
      </div>
    </div>
    <div class="test-container">
      <div class="test-title">
        {{artwork.name}}
        <div>
          {{artwork.artist.name}}
        </div>
      </div>
        <img id="artist" [src]="artwork.artist.image" alt="">
    </div>
  </div>
</section>


<div *ngIf="fullSizeOpen" >
  <app-full-size-img
  [img]="paint"
  (close)="closePopup()"
  ></app-full-size-img>
</div>
<!-- <ng-template > -->
<!-- </ng-template> -->
