$art-black : #000000;
$art-gray : #7D7D7D;
$art-light-gray : #E5E5E5;
$art-dark-white : #F3F3F3;
$art-white : #FFFFFF;

$gray-03-wieght :0.1rem solid rgb(151, 151, 151, .2);

$tablet-adjust-brkPoint: 1300px;
$tablet-brkPoint: 1038px;
$mobile-brkPoint: 375px;
