@import "../../../styles/variables";
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;;
  height: 128px;
  border-bottom:  2px solid rgb(0,0,0,.1);
  margin-inline: auto;
  margin-bottom: 2rem;

  span {
    font-size: 12px;
    letter-spacing: 2.5px;
    color:rgb(0,0,0,.5);
  }
}


@media screen and (max-width: $tablet-brkPoint) {
  nav {
    width: 100%;
    height: 80px;
  }
  img {
    margin-left: 2rem;
  }

  span {
    margin-right: 2rem;
  }
}


@media screen and (max-width: $mobile-brkPoint) {

  nav {

    span {
      width: 122px;
      text-align: right;
      letter-spacing: 2px;
      font-size: .5rem;
    }

    img {
      width: 113px;
    }
  }
}
